@model Item

@{
    ViewBag.Title = "Home";
}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Vote for the next thing we do</h1>
    <p class="lead">Click the vote link in the navbar to login and vote for the next task for prioritization.</p>
</div>

@if (Model != null)
{
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h3>Current winner</h3>
	<div class="list-group mx-auto">
	    <div class="list-group-item">
		<h5 class="mb-1">@Model.Title</h5>
		<p class="mb-1">@Model.Description</p>
	    </div>
	</div>
    </div>
}
