@model IEnumerable<Item>

@{
    ViewBag.Title = "Items";
}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="display-4">Vote</h4>
    <p class="lead">Drag and drop the candidates below into your order of preference. <br> Candidates under the gray bar are ignored.</p>
</div>

<div id="electionitems" class="list-group mx-auto">
    @foreach (var item in Model)
    {
        <div class="list-group-item" data-id="@item.ItemId">
            <h5 class="mb-1">@item.Title</h5>
            <p class="mb-1">@item.Description</p>
        </div>
    }
    <div class="list-group-item list-group-item-action list-group-item-dark" data-id="dontcare">I don't care about the ones below this line</div>
</div>

<script>
var sortable = Sortable.create(electionitems, {
    animation: 150,
    onUpdate: function (evt) {
        var order = sortable.toArray();
        var votes = [];
        for (const o of order) {
            if (o == "dontcare") { break; }
            votes.push(+o);
        }

        fetch("../Vote/SubmitVotes", {
            method: "POST",
            headers: { "Content-Type": "application/json; charset=utf-8", },
            body: JSON.stringify({"votes": votes}),
        }).then(function(e) {
            if (!e.ok) {
                alert(
                    "Something didnt work!\n" +
                    "If the issue doesn't work itself out, please contact Janne H.");
            }
        });
    }
});
</script>