@model RegisterDetails;

@{
    ViewBag.Title = "Register";
}
<div><h4>Register</h4></div>

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Register" method="Post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <button class="btn btn-primary float-right" type="submit">Register</button>
</form>