<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" 
        asp-href-include="/lib/bootstrap/dist/**/*.min.css">
    <script asp-src-include="/lib/sortable/js/Sortable.min.js"></script>
    <link rel="stylesheet" asp-href-include="/css/style.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="#">Democracy(ish)</a>
    <div class="navbar-nav mr-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="List" asp-controller="Item">Vote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="New" asp-controller="Suggestion">Suggest</a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav">
            @if (!User.Identity.IsAuthenticated) 
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                </li>
            }
            else
            {
                if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="List" asp-controller="Admin">Admin</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-action="Logout" asp-controller="Account">Logout</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row m-1 p-1">
    <div class="mx-auto">
        @RenderBody()
    </div>
</div>

</body>
</html>
