@model NewSuggestion;

@{
    ViewBag.Title = "Suggestion";
}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="display-4">Suggest a new item</h4>
    <p class="lead">New suggestions will have to be manually approved by an admin.<br>After approval the item can be voted on.</p>
</div>

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="New" method="Post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary float-right" type="submit">Suggest</button>
</form>
