@model AdminList

@{
    ViewBag.Title = "Admin";
}

<div><h4>Items</h4></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        if (!item.Approved)
        {
            <tr>
                <th scope="row">@item.Title</th>
                <td>@item.Description</td>
                <td>
                    <form asp-action="Approve" asp-route-id="@item.ItemId" method="Post">
                        <button class="btn btn-sm btn-info" type="submit">Approve</button>
                    </form>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th scope="row">@item.Title</th>
                <td>@item.Description</td>
                <td>
                    <form asp-action="Complete" asp-route-id="@item.ItemId" method="Post">
                        <button class="btn btn-sm btn-warning" type="submit">Complete</button>
                    </form>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<br>
<div><h4>Admins</h4></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Make user</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var admin in Model.Admins)
    {
        <tr>
            <th scope="row">@admin.UserName</th>
            <td>@admin.Email</td>
            <td>
                <form asp-action="Demote" asp-route-email="@admin.Email" method="Post">
                    <button class="btn btn-sm btn-primary" type="submit">Demote</button>
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-email="@admin.Email" method="Post">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<br>
<div><h4>Users</h4></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Make admin</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <th scope="row">@user.UserName</th>
            <td>@user.Email</td>
            <td>
                <form asp-action="Promote" asp-route-email="@user.Email" method="Post">
                    <button class="btn btn-sm btn-primary" type="submit">Promote</button>
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-email="@user.Email" method="Post">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<br>
<div><h4>Votes</h4></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">ItemId</th>
            <th scope="col">Ordinal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var vote in Model.Votes)
    {
        <tr>
            <th scope="row">@vote.UserId</th>
            <td>@vote.ItemId</td>
            <td>@vote.Ordinal</td>
        </tr>
    }
    </tbody>
</table>